# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


name: Karma-ui5-test
resources:
  containers:
  - container: mta
    image: 'devxci/mbtci-java11-node14'
    options: --user 0:0
  - container: cfcli
    image: 'ppiper/cf-cli'
    options: --user 0:0 --privileged

trigger:
- main

stages:
- stage: build
  displayName: Build MTA for SAP Cloud Platform
  jobs:
    - job: build
      pool:
        vmImage: 'ubuntu-latest'
      container: mta
      steps:
        - bash: 'mbt build -p=cf --mtar project4.mtar && ls && cd project4 && ls && cd webapp && ls'
        - publish: $(System.DefaultWorkingDirectory)/.
          artifact: WebApp

- stage: test
  displayName: Run Karma Test Suite
  jobs:
    - job: test
      pool:
        vmImage: 'ubuntu-latest'
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '14.x'
          displayName: 'Install Node.js'
        - script: |
            cd project4 && npm install
          displayName: 'npm install and build'
        - script: |
            cd project4 && npm run linter
          continueOnError: true
          displayName: 'Run ESLint test'
        - script: |
            cd project4 && npm run unit-tests
          continueOnError: true
          displayName: 'Run karma test'
        - task: SonarQubePrepare@4
          displayName: Prepare Analysis Configuration task
          inputs:
            SonarQube: 'SonarQube'
            scannerMode: 'Other'
            extraProperties: |
              sonar.projectVersion=1.0.0.0
              sonar.projectName=project4
              sonar.sources=project4/webapp/
              sonar.sourceEncoding=UTF-8
          enabled: true
- stage: deploy
  displayName: Deployment to SAP Cloud Platform Trial (cf)
  jobs:
    - job: deploy
      pool:
        vmImage: 'ubuntu-latest'
      container: cfcli
      steps:
        - download: current
          artifact: WebApp
        - bash: 'ls && cd project4 && ls && cd webapp && ls && cf login -u "$(CF-USER)" -a "$(CF-API)" -o "$(CF-ORG)" -s "$(CF-SPACE)" --sso-passcode "$(CF-PASSWORD)" && cf deploy $(Pipeline.Workspace)/project4/webapp/mta_archives/project4.mtar -f'
